
  .container{
    height:70vh;
    border:3px solid red;
    display: flex;
    justify-content: center;
    align-content: center;
    row-gap: 5px ;
    column-gap: 30px ;
    flex-direction:row-reverse;
    flex-wrap:wrap;
}
.box{
    height :80px;
    width: 80px;
    background-color:blueviolet ;
    color:white;    border:2px solid black;
}